:root {
  --c0: var(--color2);
  --c1: var(--color1);
  --c2: #04B957;
  --c3: #E9F1F4;
  --c4: var(--color3);
  --c5: #D23113;

  --animation1: all .25s ease-out;
}

.smart-filter {
  margin-top: 40px;
  padding: 20px;
  background: var(--c3);
  font-size: 14px;
  border-radius: 10px;
  @media (max-width: 768px) {
    padding: 15px 15px 0px 15px;
  }
  &_title {
    font-weight: bold;
    margin: 0px 0px 10px 0px;
    font-size: 16px;
    color: var(--c0);
  }

  &-parameters-box {
    margin-bottom: 20px;
    .bx_filter_block_expanded {
      display: none;
    }
    &.bx-active {
      .bx_filter_block_expanded {
        display: block;
      }
    }
  }

  // case PRICE & NUMBERS
  &-digits {
    display: flex;
    justify-content: space-between;

    input {
      width: 48%;
      text-align: center;
      background: #fff;
      border: none;
      height: 40px;
    }
  }

  // case RADIO
  &_radio {
    input {
      display: none;
      position: absolute;
      left: -9999999999px;
    }

    label {
      height: 30px;
      line-height: 30px;
      margin: 0ex 3px 3px 0px;
      display: inline-block;
      cursor: pointer;
      font-size: 14px;
      padding: 0px 12px;
      background: #fff;
      color: var(--c0);
    }

    input:checked + label {
      background: var(--c0);
      color: #ffffff;
    }
  }

  // case CHECKBOX
  &_checkbox {
    input {
      display: none;
      position: absolute;
      left: -9999999999px;
    }

    label {
      display: flex;
      color: var(--c0);

      span {
        width: calc(100% - 18px);
        padding-left: 7px;
        text-transform: lowercase;

        &:first-letter {
          text-transform: uppercase;
        }
      }

      i {
        width: 17px;
        position: relative;
        bottom: -4px;
        height: 17px;
        background: url("images/checkbox2.svg") no-repeat;
        background-position: bottom;
      }
    }

    input:checked + label {
      i {
        background-position: top;
      }
    }
  }

  // BUTTONS BY RESULT
  &_bottons {
    margin: 10px 0px 30px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @media (max-width: 768px) {
      margin: 0px 15px 15px 15px;
      // you can style it for mobile
    }
    input#set_filter {
      background: var(--c4);
      border: none;
      color: #ffffff;
      height: 45px;
      transition: .5s;
      border-radius: 10px;
      cursor: pointer;
    }

    input#set_filter:hover {
      background-color: var(--color1);
    }

    input#del_filter {
      background: none;
      color: #888;
      height: 45px;
      margin-top: 10px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }

    input#del_filter:hover {
      color: var(--color1);
    }
  }

  // RESULT POPAP
  &-container-modef {
    position: relative;
    width: 100%;
    display: block;
    clear: both;
  }
  &-popup-result {
    position: absolute;
    right: -90%;
    z-index: 1000;
    width: 170px;
    height: 57px;
    line-height: 22px;
    padding: 6px 0px 0px 20px;
    box-shadow: 0px 0px 10px #999;
    background: #fff1b2;
    @media (max-width: 768px) {
      // you can style it for mobile
      display: none !important;
    }
    a {
      color: var(--c4);
      text-decoration: underline;
      display: block;
    }
  }
}


//  TRACK FOR TYPE NUMBER (не стал вносить в общий блок так проще верстается)
.smart-filter {
  &-slider-track-container {
    overflow: hidden;
    padding: 20px 10px 10px 10px;
  }

  &-slider-track {
    position: relative;
    height: 4px;
    border-radius: 2px;
    background: #E1E1E1;
  }

  &-slider-ruler {
    position: absolute;
    top: -6px;
    width: 1px;
    height: 17px;
    background: #a2bfc7;
  }

  &-slider-ruler span {
    position: absolute;
    top: -16px;
    left: 50%;
    display: block;
    margin-left: -50px;
    width: 100px;
    color: #000;
    text-align: center;
    font-size: 11px;
  }

  &-slider-range {
    z-index: 50;
  }

  &-slider-range,
  &-slider-price-bar,
  &-slider-price-bar-vd,
  &-slider-price-bar-vn,
  &-slider-price-bar-v {
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &-slider-price-bar-v {
    background: var(--c0);
  }

  &-slider-handle {
    position: absolute;
    top: 100%;
    margin-top: -9px;
    width: 15px;
    z-index: 100;
    height: 15px;
    background: var(--c2);
    border-radius: 100%;
  }

  &-slider-handle:hover {
    cursor: grab;
    z-index: 110;
  }

  &-slider-handle:active {
    cursor: grabbing;
    z-index: 110;
  }

  &-slider-handle.left {
    left: 0;
    margin-left: -5px;
  }

  &-slider-handle.right {
    right: 0;
    margin-right: -5px;
  }
}


// FILTER ON MOBILE ===============================
.mobile_filter {
  &_button {
    display: none;
    @media (max-width: 768px) {
      display: block;
      width: 100%;
      top: 10px;
      background: var(--c0);
      border-radius: 2px;
      color: #ffffff;
      border: none;
      height: 45px;
      margin-bottom: 20px;
      border-radius: 10px;
      cursor: pointer;
    }
  }

  &_panel {
    @media (max-width: 768px) {
      position: fixed;
      overflow-y: scroll;
      width: 270px;
      height: 100vh;
      background: var(--c3);
      top: 0;
      left: -270px;
      z-index: 1000;
      transition: var(--animation1);
    }

    &_show {
      left: 0;
    }

    &_over {
      @media (max-width: 768px) {
        position: fixed;
        transition: var(--animation1);
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
        display: none;
        z-index: 900;
        background: rgba(0, 0, 0, 0.7);
        &_show {
          display: block;
        }
      }
    }
  }
}
